body {
    font-family: Arial;
    background-color: #eef2f3;
    text-align: center;
}

.container {
    margin-top: 100px;
}

textarea {
    width: 400px;
    height: 120px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
}

h2 {
    color: blue;
}